:root {
  --color1: #ebbcc6;
  --color2: #f9e3d6;
  --color3: #e2eceb;
  --color4: #c4d18b;
  --color5: #7d9920;
}

* {
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  /* DEBUG */
  /* outline: 1px solid black; */
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  background-color: #f7f8f9;
}

.header-container {
  width: 100%;
  height: 30vh;
  background-color: var(--color2);
  min-height: 165px;
}

.corner-image {
  position: relative;
  top: -10px;
  width: 30vw;
}

.header-font {
  font-family: "Emilys Candy", monospace;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  /* color: rgb(255, 255, 255); */
}

.absolute-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 10px;
  left: 10px;
}

.header {
  font-size: 4em;
  color: hsl(74, 65%, 25%);
}

.header-container p {
  font-size: 1.7em;
  white-space: nowrap;
  color: hsl(74, 65%, 25%);
}

@media (max-width: 500px) {
  .header-container {
    height: 18vh;
  }

  .header-container p {
    font-size: 1em;
    padding: 2px;
    border-radius: 5px;
  }

  .categories {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .categories::after {
    content: "";
    display: none;
  }

  .category {
    width: 85vw;
    padding: 0 !important;
    margin-top: 20px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .category-icon {
    width: 15vw !important;
  }
}
aside {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0 10px 0;
}
.call-to-action {
  font-size: 1.2em;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background: linear-gradient(
    135deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d,
    #f56040,
    #f77737,
    #fcaf45,
    #ffdc80
  );
}

.call-to-action:hover {
  transform: scale(1.02);
}

.categories {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100vw;
  flex-wrap: wrap;
}

.category {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 4px solid #7d9920;
  border-right: 4px solid #7d9920;
  border-left: 0.5px solid #7d9920;
  border-top: 0.5px solid #7d9920;
  padding: 10px 30px 10px 30px;
  margin-top: 20px;
  margin-left: 10vw;
  margin-right: 10vw;
  min-width: 313px;
}

.categories::after {
  content: "";
  /* border: 3px solid black; */
  padding: 10px 30px 10px 30px;
  margin-top: 20px;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 250px;
}

.categories a:hover {
  transform: scale(1.02);
}

.categories a:active {
  background-color: #c4d18b;
}

.category-icon {
  width: 5vw;
  min-width: 68px;
}

.image-wrap {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: space-evenly;
  gap: 20px;
  margin: 20px;
}

.image-wrap img {
  max-height: 50vh;
  object-fit: cover;
  border-radius: 5px;
}

p {
  font-family: marhey;
  color: #000;
  margin-left: 10px;
  font-size: 1.5em;
}
